*{
	margin: 0;
	padding: 0;
	box-sizing: 0;		
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
				linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
				linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	font-family: cursive;
	color: white;
}

.location-section, .temperature-section{
	height: 30vh;
	width:50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.temperature-section{
	flex-direction: column;
}

.temperature-degree-section{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.temperature-degree-section span{
	margin: 10px;
	font-size: 30px;
}

.temperature-degree-section h2{
	font-size: 40px;
}